<div class="aside-right_content">
    <div class="popular-posts">
        {% if page.lang == "en" %}
            <h3>Popular posts</h3>
            <ul>
                <li>
                    <a href="#">
                        <img src="/assets/test.jpg"/><span>Welcome to the blog</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/assets/test.jpg"/><span>Welcome to the blog</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/assets/test.jpg"/><span>Welcome to the blog</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/assets/test.jpg"/><span>Welcome to the blog</span>
                    </a>
                </li>
            </ul>
        {% else if %}
            <h3>Artículos populares</h3>
            <ul>
                <li>
                    <a href="#">
                        <img src="/assets/test.jpg"/><span>Bienvenidos al blog</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/assets/test.jpg"/><span>Bienvenidos al blog</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/assets/test.jpg"/><span>Bienvenidos al blog</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/assets/test.jpg"/><span>Bienvenidos al blog</span>
                    </a>
                </li>
            </ul>
        {% endif %}
    </div>
</div>