{% assign posts=site.posts | where:"lang", page.lang | sort:"title" %}

<div class="aside-right_content">
    <div id="searchBar">
        {% if page.lang == "en" %}
            <h4>Search</h4>
        {% else if %}
            <h4>Búsqueda</h4>
        {% endif %}
        <input type="text" onkeyup="searchOnKeyUp(this)" onclick="searchOnKeyUp(this)">
        <img class="search-icon" src="/assets/searchIcon.svg"></img>
        <ul class="results">
            {% for post in posts %}
                <li data-title="{{post.title}}" data-categories="{{post.categories}}">
                    <a href="{{post.link}}">
                        <span class="results-title">{{ post.title }}</span>
                        <span class="results-categories">{{ post.categories }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="popular-posts">
        {% if page.lang == "en" %}
            <h4>Popular posts</h4>
            <ul>
                <li>
                    <a href="#">
                        <img src="/assets/test.jpg"/><span>Welcome to the blog</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/assets/test.jpg"/><span>Welcome to the blog</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/assets/test.jpg"/><span>Welcome to the blog</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/assets/test.jpg"/><span>Welcome to the blog</span>
                    </a>
                </li>
            </ul>
        {% else if %}
            <h3>Artículos populares</h3>
            <ul>
                <li>
                    <a href="#">
                        <img src="/assets/test.jpg"/><span>Bienvenidos al blog</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/assets/test.jpg"/><span>Bienvenidos al blog</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/assets/test.jpg"/><span>Bienvenidos al blog</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/assets/test.jpg"/><span>Bienvenidos al blog</span>
                    </a>
                </li>
            </ul>
        {% endif %}
    </div>
</div>